@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: rgb(30, 30, 30);
}

* {
    font-family: "noto sans";
}

h1,
h2,
h3 {
    font-family: "noto sans display";
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: white;
}

p {
    font-weight: 500;
}

h1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 25%,
        rgba(0, 255, 242, 1) 50%,
        rgba(92, 0, 255, 1) 75%,
        rgba(255, 0, 0, 1) 100%
    );
    width: 100px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 0px 0px 100px 25px white, inset 0px 0px 15px 3px gray;
    border-radius: 100px;
}

div {
    display: flex;
    justify-content: center;
}

pre * {
    font-family: monospace;
}

code {
    font-family: monospace;
    background-color: rgb(50, 50, 50);
}

li {
    color: white;
}

li:marker {
    color: white;
}

pre {
    display: flex;
    justify-content: center;
}

pre code {
    border-radius: 11px;
    box-shadow: inset 0px 0px 20px 0px black;
}

a {
    transition: all 0.2s;
    /*box-shadow: 0px 0px 100px 25px white, inset 0px 0px 15px 3px gray;*/
    border-radius: 100px;
    color: rgb(0, 80, 160);
}

a:hover {
    transition: all 0.2s;
    color: rgb(0, 128, 255);
    box-shadow: 0 0 100px 10px red, 0 0 200px 20px orange, 0 0 350px 35px yellow,
        0 0 500px 50px green, 0 0 650px 50px blue, 0 0 800px 65px violet; /* IF UCKING HATE MYSELF */
}
